<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/obsidian_c_recommendations.css" fetchpriority="low"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/obsidian_c_post_full.css" fetchpriority="low"/>
		{% include "head.liquid" %}
	</head>
	<body id="body">
		{% include "components/header.liquid" %}
		{% include "components/notice-container.liquid" %}
		<div class="site-content">
			<div id="main-content">
				<div class="articles-container recommendations-container flex row overflow-scroll">
					{% for category in allCategories %}
						<div class="recommendation">
							<a class="recommendation-text rem1 white monospace semibold" href="#{{ category | downcase }}">{{ category }}</a>
						</div>
					{% endfor %}
				</div>
				<div class="h-feed articles-container">
					<div id="page">
						<div class="post-content post"><h2>Page</h2></div>
						{% for page in collections.pages %}
							{% include "components/article.liquid" article: page %}
						{% endfor %}
					</div>
					<div id="post">
						<div class="post-content post"><h2>Post</h2></div>
						{% for post in collections.posts %}
							{% include "components/article.liquid" article: post %}
						{% endfor %}
					</div>
					<div id="note">
						<div class="post-content post"><h2>Note</h2></div>
						{% assign notes = collections.notes %}
						{% for note in collections.notes %}
							{% include "components/article.liquid" article: note %}
						{% endfor %}
					</div>
					<div id="video">
						<div class="post-content post"><h2>Video</h2></div>
						{% for video in videos %}
							<div class="h-entry article flexrow-to-col" itemscope itemtype="https://schema.org/VideoObject">
								<div class="article-left">
									<img itemprop="image" class="article-image-size" src="{{ site.baseurl }}/images/video-thumbnails/{{ video.url }}.webp" alt="{{ video.thumb_alt }}" title="{{ video.thumb_alt }}" loading="lazy">
								</div>
								<div class="article-right">
									<a href="https://www.youtube.com/watch?v={{ video.url }}"><p itemprop="headline" class="p-name article-title rem2 white boldonse semibold">{{ video.title }}</p></a>
									<p class="p-summary article-desc rem1 lightgray semibold monospace italic">{{ video.description }}</p>
									<p class="article-date rem1 lightgray grotesk bold">{{ video.date | date: "%d %B %Y" }}</p>
									<p itemprop="dt-published datePublished" content="{{ video.date | date_to_xmlschema }}" class="hidden"></p>
									<div class="article-button-container">
										<a class="article-button-light grotesk medium" href="https://www.youtube.com/watch?v={{ video.url }}">Watch Video&nbsp;{% icon 'lucide:video' %}</a>
									</div>
									<div class="article-categories">
										{% for category in video.categories %}
											<a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories#{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
										{% endfor %}
										{% if video.nsfw %}
											<a class="article-tag-nsfw grotesk medium rem1">NSFW</a>
										{% endif %}
										{% for tag in video.tags %}
											<a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags#{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
										{% endfor %}
									</div>
								</div>
								<div class="hidden">
									<span itemprop="author" itemscope itemtype="https://schema.org/Person">
										<a itemprop="url" href="https://alextecplayz.com/about.html">
											<span itemprop="name">AlexTECPlayz</span>
										</a>
									</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include "components/footer.liquid" %}
	</body>
</html>
