<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/obsidian_c_recommendations.css" fetchpriority="low"/>
		{% include "head.liquid" %}
		
	</head>
<body id="body">
	{% include "components/header.liquid" %}
	<div class="site-content">
		{% include "components/notice-container.liquid" %}
		<div id="main-content">
			<div class="articles-container">
				<div class="flex row align-end"><p class="boldonse semibold white rem2">Hi, I'm Alex!</p>&nbsp;<p class="monospace semibold lightgray rem1">(she/they)</p></div>
				<p class="monospace medium lightgray rem1 italic">I also go by Alessia IRL and online ^v^</p>
				<p class="monospace medium lightgray rem1">Game, software and web developer.</p>
				<p class="monospace medium lightgray rem1">Okay, but really, what do <i>I</i> do?</p>
				<p class="monospace medium lightgray rem1">I'm working on my own game engine toolkit, <a class="accent-color link" href="{{ site.baseurl }}/posts/2024-01-14-Sapphire-thread.html">Sapphire</a> and the game <a class="accent-color link" href="https://vantainteractive.com/en/games/Prisonia">PRISONIA</a>, which runs on Godot, as well as <a class="accent-color link" href="{{ site.baseurl }}/portfolio#Translations">contribute to translations to projects like Penpot, Bluesky, Megalodon</a>.</p>
				<br>
				<br>
				<p class="monospace semibold white rem1-15">Quick navigation:</p>
				<div class="flexrow-to-col">
					<div class="flexrow-to-col">
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/posts.html">/posts</a></div>
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/notes.html">/notes</a></div>
					</div>
					<div class="flexrow-to-col">
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/videos.html">/videos</a></div>
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/uses.html">/uses</a></div>
					</div>
					<div class="flexrow-to-col">
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/blogroll.html">/blogroll</a></div>
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/about.html">/about</a></div>
					</div>
					<div class="flexrow-to-col">
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/portfolio.html">/portfolio</a></div>
						<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/support.html">/support</a></div>
					</div>
					<div class="recommendation"><a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/sitemap.html">All pages</a></div>
				</div>
				<p class="boldonse semibold lightgray rem1-5">Latest 3 posts:</p>
				<div class="carousel-hz auto-scroll">
					<div class="carousel-wrapper">
						<div class="carousel-slide">
							{% assign latestPost = collections.posts[0] %}
							{% include "components/article.liquid" article: latestPost %}
						</div>
						<div class="carousel-slide">
							{% assign 2ndlatestPost = collections.posts[1] %}
							{% include "components/article.liquid" article: 2ndlatestPost %}
						</div>
						<div class="carousel-slide">
							{% assign 3rdlatestPost = collections.posts[2] %}
							{% include "components/article.liquid" article: 3rdlatestPost %}
						</div>
					</div>
				</div>
				<br>
				<p class="boldonse semibold lightgray rem1-5">Random article:</p>
				{% assign randomPost = collections.posts | getRandomPost %}
				{% include "components/article.liquid" article: randomPost %}

				<p class="boldonse semibold lightgray rem1-5">Featured article:</p>
				{% assign featuredPage = collections.posts | getPostByAltID: "AndroidGuide" %}
				{% include "components/article.liquid" article: featuredPage %}
			</div>
			<hr>
			{% include "components/banners8831.liquid" %}
		</div>
	</div>
	{% include "components/footer.liquid" %}
</body>
</html>
