<!-- uses RDFa, Schema, microformats2, hcard 1.0 -->
<div class="h-card vcard article" vocab="http://schema.org/" typeof="Person" itemprop="author" itemscope itemtype="https://schema.org/Person" id="author">
	<div class="post post-content">
		<p class="p-honorific-prefix honorific-prefix hidden">Ms.</p>
		<p class="p-given-name given-name hidden">Alessia</p>
		<p class="p-additional-name additional-name hidden">Alexandra</p>
		<div class="flex row align-center">
			<p class="p-nickname nickname bold white rem1-25 grotesk" itemprop="name" property="name" rel="author">AlexTECPlayz</p>
			<img class="u-photo photo emoji" src="{{ site.baseurl }}/images/custom_emojis/atp.webp" loading="lazy">
		</div>
		<a class="u-url url u-uid hidden" itemprop="url" property="url" href="https://alextecplayz.com">Personal website link (a link to the website you're currently browsing, alextecplayz dot com)</a>
		<div class="adr hidden"><span class="country-name p-country">Romania</span></div>
		<p class="p-sex hidden">O</p>
		<p class="p-gender-identity hidden">Feminine (Trans-feminine)</p>
		<p class="dt-bday bday hidden">2005-05-06</p>
		<p class="semibold italic lightgray rem1 monospace">uses she/they pronouns, goes by Alex or Alessia on the web and IRL</p>
		<p class="p-job-title hidden">President</p>
		<p class="p-role hidden">President/CEO/Head/Sole proprietor of Vanta Interactive.</p>
		<p class="p-category category hidden">developer</p>
		<p class="p-note note hidden">Game, software, web developer from Romania.</p>
		<div class="hidden">
			(<div class="h-card vcard">
				<img class="u-photo photo" src="{{ site.baseurl }}/images/custom_emojis/vi-bw.webp" loading="lazy" width="24" height="24">
				<a class="p-org org" href="https://www.vantainteractive.com">Vanta Interactive</a>
				<div class="adr"><span class="country-name">Romania</span></div>
				<a class="u-url url" href="https://www.vantainteractive.com">A link to the Vanta Interactive website, my publishing brand for games.</a>
			</div>)
		</div>
		<hr>
		<p class="medium lightgray monospace">Alex works in her free time on her own projects, such as PRISONIA, Project Neighbourhood, and various one-off tests or experiments using the Sapphire game engine toolkit, using Godot Engine 4. She's a game, software, and web developer and hobbyist, primarily working with GDScript, C++, HTML, CSS and JS, without resorting to web frameworks. Commercial projects are published under her studio name, Vanta Interactive.<br><br>She also spends an ungodly amount of time overthinking this website's design and constantly updates it.</p>
		<hr class="hidden">
		<hr class="hidden">
		<div class="flexrow-to-col">
			<a class="masto-follow-btn monospace medium" href="https://techhub.social/@AlexTECPlayz">{% emoji "mastodon-white" %}&nbsp;Follow on Mastodon</a>
			<a class="masto-follow-btn monospace medium" href="https://social.vantainteractive.com/@AlexTECPlayz">{% emoji "mastodon-white" %}&nbsp;Second account</a>
			<a class="flex row vanta-interactive-btn bebasneue align-center" href="https://www.vantainteractive.com"><img class="u-photo photo emoji" src="{{ site.baseurl }}/images/custom_emojis/vi-bw.webp" loading="lazy" width="24" height="24">&nbsp;Vanta Interactive</a>
			<a class="rss-btn white monospace medium" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml">{% icon 'lucide:rss' %} RSS Feed</a>
		</div>
	</div>
</div>
<!-- Schema ProfilePage -->
<div class="hidden" itemtype="https://schema.org/ProfilePage" itemscope>
	<meta itemprop="dateCreated" content="2016-06-04T11:05:00+02:00"/>
	<meta itemprop="dateModified" content="2026-01-11T01:52:00+02:00"/>
	<div itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
		<div>
			<span itemprop="alternateName" id="handle">AlexTECPlayz</span>
			(<span itemprop="name" id="real-name">Alessia-Alexandra</span>)
		</div>
		<meta itemprop="identifier" content="@AlexTECPlayz">
		<span itemprop="description">Game, software, web developer.</span>
		<span itemprop="gender" itemtype="https://schema.org/gender">Female</span>
		<img itemprop="image" href="{{ site.baseurl }}/images/custom_emojis/atp.webp">
		<div>
			<a itemprop="sameAs" href="https://alextecplayz.com">A link to the my website.</a>
			<a itemprop="sameAs" href="https://techhub.social/@alextecplayz">A link to my main Mastodon account.</a>
			<a itemprop="sameAs" href="https://social.vantainteractive.com/@alextecplayz">A link to my secondary Mastodon account.</a>
			<a itemprop="sameAs" href="https://threads.net/@alextecplayz">A link to my Threads dot net profile.</a>
			<a itemprop="sameAs" href="https://instagram.com/alextecplayz">A link to my Instagram profile.</a>
			<a itemprop="sameAs" href="https://twitter.com/alextecplayz">A link to my Twitter account.</a>
			<a itemprop="sameAs" href="https://x.com/alextecplayz">A link to my X account.</a>
			<a itemprop="sameAs" href="https://twitter.com/realtecplayz">A link to my old Twitter account handle for historical reasons.</a>
			<a itemprop="sameAs" href="https://x.com/realtecplayz">A link to my old Twitter/X account handle for historical reasons.</a>
			<a itemprop="sameAs" href="https://youtube.com/@alextecplayz">A link to my YouTube channel.</a>
			<a itemprop="sameAs" href="https://steamcommunity.com/id/alextecplayz">A link to my Steam profile.</a>
			<a itemprop="sameAs" href="https://github.com/alextecplayz">A link to my GitHub profile.</a>
			<a itemprop="sameAs" href="https://gitlab.com/alextecplayz">A link to my GitLab profile.</a>
		</div>
		<span itemprop="interactionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
			<span itemprop="userInteractionCount">26508</span>
			<span itemprop="interactionType" content="https://schema.org/LikeAction">likes</span>
			<!-- latest likes count updated 2026-01-11 -->
			<!-- (YT = 1547 ATP + 173 VI) + (Masto = 3793 ATP (Analytodon)) + (reddit = 21168 total karma) = (Total 26508) -->
		</span>
		<span itemprop="interactionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
			<span itemprop="userInteractionCount">839</span>
			<span itemprop="interactionType" content="https://schema.org/FollowAction">follower</span>
			<!-- latest follower count updated 2026-01-11 -->
			<!-- (YT = 109 ATP + 55 VI) + (X = 155) + (Twitch = 2 RTATP + 0 ATP) + (Masto = 447 T_ATP + 5 T_VI + 3 V_ATP) + (Meta = 44 IG + 8 TH) + (reddit = 11) = (Total 839) -->
		</span>
		<span itemprop="agentInteractionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
			<span itemprop="userInteractionCount">25</span>
			<span itemprop="interactionType" content="https://schema.org/WriteAction">posts</span>
			<!-- latest post count updated 2026-01-11 -->
		</span>
		<div itemprop="affiliation" itemtype="https://schema.org/Organization" itemscope>
			<span itemprop="alternateName">VantaInteractive</span>
			<span itemprop="name">Vanta Interactive</span>
			<meta itemprop="identifier" content="@VantaInteractive">
			<span itemprop="description">Vanta Interactive is the commercial publishing name used by AlexTECPlayz.</span>
			<img itemprop="image" href="{{ site.baseurl }}/images/custom_emojis/vi-bw.webp">
			<div>
				<a itemprop="sameAs" href="https://vantainteractive.com">A link to the Vanta Interactive website</a>
				<a itemprop="sameAs" href="https://techhub.social/@vantainteractive">A link to the primary account of Vanta Interactive</a>
				<a itemprop="sameAs" href="https://social.vantainterctive.com/@vantainteractive">A link to the secondary account of Vanta Interactive</a>
				<a itemprop="sameAs" href="https://youtube.com/@vantainteractive">A link to the YouTube account of Vanta Interactive</a>
				<a itemprop="sameAs" href="https://steamcommunity.com/id/alextecplayz">A link to my Steam profile</a>
				<a itemprop="sameAs" href="https://github.com/vantainteractive">A link to the GitHub organization page of Vanta Interactive</a>
			</div>
		</div>
	</div>
</div>
